numpy
pandas
scipy
scikit-learn
xgboost
lightgbm
joblib
optuna
imbalanced-learn
networkx
tqdm
openai
langchain
langchain-openai
langchain-core
pydantic
shortuuid
requests
transformers
torch-npu
libwon
igraph


